<ion-header [translucent]="true">
  <ion-toolbar class=" toolbar">
    <ion-title>
      CONTADOR DE TRUCO
    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="colortab2">

<ion-grid >
  <h3>Valendo: {{start}}</h3>
  <ion-row class="row-1 ion-text-center">
    <ion-col size="1.5"  offset="1.2"><ion-button class="btnv" (click)="botaoTruco1()">1</ion-button> </ion-col>
    <ion-col size="1.5"  offset="2"><ion-button class="btnv" (click)="botaoTruco3()">3</ion-button></ion-col>
    <ion-col size="1.5"  offset="2.2"><ion-button class="btnv" (click)="botaoTruco6()">6</ion-button></ion-col>
  </ion-row>
  <ion-row class="row2 ion-text-center">
    <ion-col size="1.5" offset="3"><ion-button class="bt2" (click)="botaoTruco9()">9</ion-button></ion-col>
    <ion-col size="1.5" offset="2"><ion-button class="bt2" (click)="botaoTruco12()">12</ion-button></ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="ion-text-center">
  <ion-row>
  <ion-label>Time 1</ion-label>
  <ion-label>Time 2</ion-label>
</ion-row>
  <ion-row class="add">
    <ion-col><ion-button (click)="btadd1()"><ion-icon name="add" /></ion-button></ion-col>
    <ion-col><ion-button (click)="btadd2()"><ion-icon name="add" /></ion-button></ion-col>
  </ion-row>
  <ion-row class="number">
    <ion-col>{{v1}}</ion-col>
    <ion-col>{{v2}}</ion-col>
  </ion-row>
  <ion-row class="btar">
    <ion-col><ion-button (click)="btr1()"><ion-icon name="remove" /></ion-button></ion-col>
    <ion-col><ion-button (click)="btr2()"><ion-icon name="remove" /></ion-button></ion-col>
  </ion-row>
</ion-grid>

<div class="card">
<ion-card class="custom-card">
  <ion-card-header>
    <ion-card-title class="ion-text-center">PARTIDAS
      <ion-icon name="ribbon-outline" color="warning"></ion-icon>
      <div class="linha">-----------------------------</div>
    </ion-card-title>

  </ion-card-header>

  <ion-card-content>
    <ion-row  class="ion-text-center">
      <ion-col>
        <ion-input value="Time 1"></ion-input>
        <ion-col class="zero">{{a}}</ion-col>
      </ion-col>
      <ion-col>
        <ion-input value="Time 2"></ion-input>
        <ion-col  class="zero">{{b}}</ion-col>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</div>

<ion-footer>
  <ion-toolbar (click)="clear()" class="bc">
    <ion-title class="ion-text-center">Limpar</ion-title>
  </ion-toolbar>
</ion-footer>

</ion-content>
