*{
  font-family: revert-layer;
}

.toolbar{
  --background: #086843;
  --color: white;
  ion-title{
    font-size: 15px;
    font-weight: 700;
  }
}

.colortab2{
  --background: gray;
}

h3{
  color: white;
  margin: 10px;
  font-size: 20px;
  font-weight: 400;
}

$border-color: #ffffff;
$border-width: 1px;
.custom-card {
  background-color: transparent;
  border: $border-width solid $border-color;
  width: 230px;
  ion-card-title{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
  }
  ion-icon{
    position: absolute;
    margin-bottom: 8px;
  }
  ion-input{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
  }
  ion-col{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    .zero{
      margin: 25px;
    }
  }
}

.card{
display: flex;
justify-content: center;
}

.bc{
  cursor: pointer;
  --background:#086843;
  --color: white;
  font-size: 20px;
  font-weight: 700;
}
.add{
  ion-button{
    --background: #05853a;
    --color: white;
  }
}

.btar{
  ion-button{
    --background: #850505;
    --color: white;
  }
}

.number{
  font-size: 50px;
  color: #FFFFFF;
}

ion-label{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-between;
  display: flex;
  margin: 0 33px;
}

.row-1 {
  .btnv {
    --background: #FFFFFF;
    --border-radius: 5px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    width: 40px;
  }
}

.row2{
  .bt2 {
    --background: #FFFFFF;
    --border-radius: 5px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    width: 40px;
  }
}
