*{
  font-family: revert-layer;
}

.toolbar{
  --background:#1E5128 ;
  --color: white;
  ion-title{
    font-size: 15px;
    font-weight: 700;
  }

}

.colortab2{
  --background: #000000;
}


h3{
  color: white;
  margin: 10px;
  font-size: 20px;
  font-weight: 400;
}

$border-color: #ffffff;
$border-width: 1px;
.custom-card {
  background-color: transparent;
  border: $border-width solid $border-color;
  width: 230px;
  ion-card-title{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
  }
  ion-icon{
    position: absolute;
    margin-bottom: 8px;
  }
  ion-input{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
  }
  ion-col{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    .zero{
      margin: 25px;
    }
  }
}

.card{
display: flex;
justify-content: center;
}

.bc{
  cursor: pointer;
  --background:#1E5128;
  --color: white;
  font-size: 20px;
  font-weight: 700;
}
.add{
  ion-button{
    --background: #4E9F3D;
    --color: white;
  }
}

.btar{
  ion-button{
    --background: #C02739;
    --color: white;
  }
}

.number{
  font-size: 50px;
  color: #FFFFFF;
}


.row-1 {
  .btnv {
    --background: #FFFFFF;
    --border-radius: 100px;
    color: #000000;
    font-weight: bold;
    height: 40px;
    width: 40px;

  }
}

.row2{
  .bt2 {
    --background: #FFFFFF;
    --border-radius: 100px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    width: 40px;

  }
}

.linha{
  --background: #FFFFFF;
}

ion-label{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    justify-content: space-between;
    display: flex;
    margin: 0 45px;
  }


